@model Entidades.Models.Consulta;

@{
    Layout = "../Shared/_Layout.cshtml";
}

@{
    int edad = @DateTime.Today.Year - @ViewBag.Paciente.FechaNac.Year;
}

@{
    string today = @DateTime.Today.ToString("yyyy-MM-dd");
}

<div class="container text-center">
    <h1 class="display-4">@ViewBag.Paciente.Nombre @ViewBag.Paciente.Apellido</h1>
    <h4>Consultation (create)</h4>
    <br />
    <form action="/Consulta/CreateConsultation" method="POST">
        <div class="row">
            <div class="col">
                <label class="form-label" for="FechaAtencion">Consultation date: *</label>
                <input class="form-control" type="date" name="FechaAtencion" value="" required max="@today" />
            </div>
            <div class="col">
                <label class="form-label" for="MotivoConsulta">Reason for consultation: *</label>
                <input class="form-control" type="text" name="MotivoConsulta" value="" required/>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="DiagnosticoConsulta">Diagnosis: </label>
                <input class="form-control" type="text" name="DiagnosticoConsulta" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="Observacion">Comments: </label>
                <input class="form-control" type="text" name="Observacion" value="" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="EvalNutric">Nutritional evaluation: </label>
                <input class="form-control" type="text" name="EvalNutric" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="EvalSoc">Social evaluation: </label>
                <select class="form-control" name="EvalSoc">
                    <option value="BAJO">LOW</option>
                    <option value="MEDIO">MID</option>
                    <option value="ALTO">HIGH</option>
                </select>
            </div>
        </div>
        <br />
        @if (@ViewBag.Paciente.Sexo.ToUpper() == "FEMENINO")
        {
            <div class="row">
                <div class="col">
                    <label class="form-label" for="Fum">Last menstrual period (LMP):</label>
                    <input class="form-control" type="date" name="Fum" value="" max="@today" />
                </div>
                <div class="col">
                    <label class="form-label" for="MacActual">Current contraceptive method: </label>
                    <input class="form-control" type="text" name="MacActual" value="" />
                </div>
                <div class="col">
                    <label class="form-label" for="FechaMac">Contraceptive method date: </label>
                    <input class="form-control" type="date" name="FechaMac" value="" max="@today" />
                </div>
            </div>
        }
        <br />
        <br />
        <input type="number" name="PacienteId" value=@ViewBag.Paciente.Id hidden />
        <input type="number" name="EdadConsulta" value=@edad hidden />
        <input class="btn btn-lg btn-success" type="submit" name="agregar" value="Create Consultation" />
        <a class="btn btn-lg btn-danger" href="/Paciente/viewDetails/@ViewBag.Paciente.Id">Cancel</a>
    </form>
</div>