@model Entidades.Models.Consulta;

@{
    Layout = "../Shared/_Layout.cshtml";
}

@{
    string today = @DateTime.Today.ToString("yyyy-MM-dd");
}

<div class="container text-center">
    <h1 class="display-4">@ViewBag.Paciente.Nombre @ViewBag.Paciente.Apellido</h1>
    <h4>Consulta(editar)</h4>
    <br />
    <form action="/Consulta/editConsultation" method="POST">
        <div class="row">
            <div class="col">
                <label class="form-label" for="FechaAtencion">Fecha de atención: *</label>
                <input class="form-control" type="date" name="FechaAtencion" value="@ViewBag.Consulta.FechaAtencion.ToString("yyyy-MM-dd")" max="@today" required />
            </div>
            <div class="col">
                <label class="form-label" for="MotivoConsulta">Motivo Consulta: *</label>
                <input class="form-control" type="text" name="MotivoConsulta" value="@ViewBag.Consulta.MotivoConsulta" required />
            </div>
            <div class="col">
                <label class="form-label" for="MotivoConsulta">Edad: </label>
                <input class="form-control" type="text" name="EdadConsulta" value="@ViewBag.Consulta.EdadConsulta" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="DiagnosticoConsulta">Diagnostico Consulta: </label>
                <input class="form-control" type="text" name="DiagnosticoConsulta" value="@ViewBag.Consulta.DiagnosticoConsulta" />
            </div>
            <div class="col">
                <label class="form-label" for="Observacion">Observación: </label>
                <input class="form-control" type="text" name="Observacion" value="@ViewBag.Consulta.Observacion" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="EvalNutric">Evaluación Nutricional: </label>
                <input class="form-control" type="text" name="EvalNutric" value="@ViewBag.Consulta.EvalNutric" />
            </div>
            <div class="col">
                <label class="form-label" for="EvalSoc">Evaluación Social: </label>
                <select class="form-control" name="EvalSoc">
                    @if (@ViewBag.Consulta.EvalSoc == "BAJO")
                    {
                        <option selected value="BAJO">BAJO</option>
                        <option value="MEDIO">MEDIO</option>
                        <option value="ALTO">ALTO</option>
                    }
                    @if (@ViewBag.Consulta.EvalSoc == "MEDIO")
                    {
                        <option value="BAJO">BAJO</option>
                        <option selected value="MEDIO">MEDIO</option>
                        <option value="ALTO">ALTO</option>
                    }
                    @if (@ViewBag.Consulta.EvalSoc == "ALTO")
                    {
                        <option value="BAJO">BAJO</option>
                        <option value="MEDIO">MEDIO</option>
                        <option selected value="ALTO">ALTO</option>
                    }
                </select>
            </div>
        </div>
        <br />
        @if (@ViewBag.Paciente.Sexo.ToUpper() == "FEMENINO")
        {
            <div class="row">
                <div class="col">
                    <label class="form-label" for="Fum">Fecha última menstruación (Fum):</label>
                    <input class="form-control" type="date" name="Fum" value="@ViewBag.Consulta.Fum" max="@today" />
                </div>
                <div class="col">
                    <label class="form-label" for="MacActual">Método anticonceptivo (Mac) Actual: </label>
                    <input class="form-control" type="text" name="MacActual" value="@ViewBag.Consulta.MacActual" />
                </div>
                <div class="col">
                    <label class="form-label" for="FechaMac">Fecha Mac: </label>
                    <input class="form-control" type="date" name="FechaMac" value="@ViewBag.Consulta.FechaMac" max="@today" />
                </div>
            </div>
        }
        <br />
        <br />
        <input type="number" name="PacienteId" value=@ViewBag.Paciente.Id hidden />
        <input type="number" name="Id" value=@ViewBag.Consulta.Id hidden />
        <input class="btn btn-lg btn-success" type="submit" name="editar" value="Editar Consulta" />
        <a class="btn btn-lg btn-danger" href="/Paciente/viewDetails/@ViewBag.Paciente.Id">Cancelar</a>
    </form>
</div>