@model Entidades.Models.Consulta;

@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container text-center">
    <h1>Consulta realizada el día: @ViewBag.Consulta.FechaAtencion.ToString("dd/MM/yyyy") para @ViewBag.Paciente.Nombre @ViewBag.Paciente.Apellido </h1>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Motivo Consulta: </h5>
                    <p class="card-text">@ViewBag.Consulta.MotivoConsulta</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Diagnostico Consulta: </h5>
                    <p class="card-text">@ViewBag.Consulta.DiagnosticoConsulta</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Observación: </h5>
                    <p class="card-text">@ViewBag.Consulta.Observacion</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Evaluación Nutricional:</h5>
                    <p class="card-text">@ViewBag.Consulta.EvalNutric</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Evaluación Social:</h5>
                    <p class="card-text">@ViewBag.Consulta.EvalSoc</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Edad:</h5>
                    <p class="card-text">@ViewBag.Consulta.EdadConsulta</p>
                </div>
            </div>
        </div>
    </div>
    @if (@ViewBag.Paciente.Sexo == "Femenino")
    {
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Fum:</h5>
                        <p class="card-text">@ViewBag.Consulta.Fum</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Mac Actual:</h5>
                        <p class="card-text">@ViewBag.Consulta.MacActual</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Fecha Mac: @ViewBag.Consulta.FechaMac</h5>
                        <p class="card-text">@ViewBag.Consulta.FechaMac</p>
                    </div>
                </div>
            </div>
        </div>
    }
    <br />
</div>