@model Entidades.Models.Consulta;

@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container text-center">
    <h1>Consultation date: @ViewBag.Consulta.FechaAtencion.ToString("dd/MM/yyyy") for patient @ViewBag.Paciente.Nombre @ViewBag.Paciente.Apellido </h1>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Reason for consultation: </h5>
                    <p class="card-text">@ViewBag.Consulta.MotivoConsulta</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Diagnosis: </h5>
                    <p class="card-text">@ViewBag.Consulta.DiagnosticoConsulta</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Comments: </h5>
                    <p class="card-text">@ViewBag.Consulta.Observacion</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nutritional evaluation:</h5>
                    <p class="card-text">@ViewBag.Consulta.EvalNutric</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Social evaluation:</h5>
                    <p class="card-text">@ViewBag.Consulta.EvalSoc</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Age:</h5>
                    <p class="card-text">@ViewBag.Consulta.EdadConsulta</p>
                </div>
            </div>
        </div>
    </div>
    @if (@ViewBag.Paciente.Sexo == "Femenino")
    {
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">LMP:</h5>
                        <p class="card-text">@ViewBag.Consulta.Fum</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Current contraceptive method:</h5>
                        <p class="card-text">@ViewBag.Consulta.MacActual</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Contraceptive method date: @ViewBag.Consulta.FechaMac</h5>
                        <p class="card-text">@ViewBag.Consulta.FechaMac</p>
                    </div>
                </div>
            </div>
        </div>
    }
    <br />
</div>