@model Entidades.Models.Pediatria;

@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container text-center">
    <h1 class="display-4">@ViewBag.Paciente.Nombre @ViewBag.Paciente.Apellido</h1>
    <h4>Pediatría (editar)</h4>
    <h5>Para ingresar valores decimales por favor utilizar: , (coma)</h5>
    <br />
    <form action="/Pediatria/editPediatry" method="POST">
        <div class="row">
            <div class="col">
                <label class="form-label" for="Peso">Peso (Kg): *</label>
                <input class="form-control" id="pediatria_peso" type="text" name="Peso" value="@ViewBag.Pediatria.Peso" required />
            </div>
            <div class="col">
                <label class="form-label" for="PercentilPeso">Percentil Peso: </label>
                <input class="form-control" type="text" name="PercentilPeso" value="@ViewBag.Pediatria.PercentilPeso" />
            </div>
            <div class="col">
                <label class="form-label" for="PzPeso">PzPeso: </label>
                <input class="form-control" type="text" name="PzPeso" value="@ViewBag.Pediatria.PzPeso" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="Talla">Talla (cm): *</label>
                <input class="form-control" id="pediatria_talla" type="text" name="Talla" value="@ViewBag.Pediatria.Talla" required />
            </div>
            <div class="col">
                <label class="form-label" for="PercentilTalla">Percentil Talla: </label>
                <input class="form-control" type="text" name="PercentilTalla" value="@ViewBag.Pediatria.PercentilTalla" />
            </div>
            <div class="col">
                <label class="form-label" for="PzTalla">PzTalla: </label>
                <input class="form-control" type="text" name="PzTalla" value="@ViewBag.Pediatria.PzTalla"/>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="Imc">Imc (Kg/M²): </label>
                <input class="form-control" type="text" id="pediatria_imc" name="Imc" value="@ViewBag.Pediatria.Imc" onfocus="calcula_imc_pediatria()" />
            </div>
            <div class="col">
                <label class="form-label" for="PercentilImc">Percentil Imc: </label>
                <input class="form-control" type="text" name="PercentilImc" value="@ViewBag.Pediatria.PercentilImc" />
            </div>
            <div class="col">
                <label class="form-label" for="PzImc">PzImc: </label>
                <input class="form-control" type="text" name="PzImc" value="@ViewBag.Pediatria.PzImc" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="Pc">Pc: </label>
                <input class="form-control" type="text" name="Pc" value="@ViewBag.Pediatria.Pc" />
            </div>
            <div class="col">
                <label class="form-label" for="PercentilPc">Percentil Pc: </label>
                <input class="form-control" type="text" name="PercentilPc" value="@ViewBag.Pediatria.PercentilPc" />
            </div>
            <div class="col">
                <label class="form-label" for="PzPc">PzPc: </label>
                <input class="form-control" type="text" name="PzPc" value="@ViewBag.Pediatria.PzPc" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="form-label" for="AgudezaDer">Agudeza Visual ojo der: </label>
                <input class="form-control" type="text" name="AgudezaDer" value="@ViewBag.Pediatria.AgudezaDer" />
            </div>
            <div class="col">
                <label class="form-label" for="AgudezaIzq">Agudeza Visual ojo izq: </label>
                <input class="form-control" type="text" name="AgudezaIzq" value="@ViewBag.Pediatria.AgudezaIzq" />
            </div>
        </div>
        <br />
        <br />
        <input type="number" name="PacienteId" value=@ViewBag.Paciente.Id hidden />
        <input type="number" name="Id" value=@ViewBag.Pediatria.Id hidden />
        <input class="btn btn-lg btn-success" type="submit" name="agregar" value="Editar Consulta pediátrica" />
        <a class="btn btn-lg btn-danger" href="/Paciente/viewDetails/@ViewBag.Paciente.Id">Cancelar</a>
    </form>
</div>
