@model Entidades.Models.Historia;

@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container text-center">
    <h1 class="display-4">@ViewBag.Paciente.Nombre @ViewBag.Paciente.Apellido</h1>
    <h4>Historia (editar)</h4>
    <br />
    <form action="/Historia/editHistory" method="POST">
        <div class="row">
            <div class="col">
                <label class="form-label" for="ExamenFisico">Exámen Físico: </label>
                <input class="form-control" type="text" name="ExamenFisico" value="@ViewBag.Historia.ExamenFisico" />
            </div>
            <div class="col">
                <label class="form-label" for="Ta">Tensión arterial (TA): </label>
                <input class="form-control" type="text" name="Ta" value="@ViewBag.Historia.Ta" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="Peso">Peso (Kg): *</label>
                <input class="form-control" id="historia_peso" type="text" name="Peso" value="@ViewBag.Historia.Peso" required />
            </div>
            <div class="col">
                <label class="form-label" for="Talla">Talla (cm): *</label>
                <input class="form-control" id="historia_talla" type="text" name="Talla" value="@ViewBag.Historia.Talla" required />
            </div>
            <div class="col">
                <label class="form-label" for="Imc">Imc (Kg/M²): </label>
                <input class="form-control" id="historia_imc" type="text" name="Imc" value=@ViewBag.Historia.Imc onfocus="calcula_imc_historia()" />
            </div>
            <div class="col">
                <label class="form-label" for="Glicemia">Glicemia (mg/dl): </label>
                <input class="form-control" type="number" name="Glicemia" value=@ViewBag.Historia.Glicemia />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="CircCintura">Circunferencia Cintura (cms): </label>
                <input class="form-control" type="number" name="CircCintura" value=@ViewBag.Historia.CircCintura />
            </div>
            <div class="col">
                <label class="form-label" for="CircCadera">Circunferencia de Cadera (cms): </label>
                <input class="form-control" type="number" name="CircCadera" value=@ViewBag.Historia.CircCadera />
            </div>
            <div class="col">
                <label class="form-label" for="Saturacion">Saturación (%): </label>
                <input class="form-control" type="number" name="Saturacion" value=@ViewBag.Historia.Saturacion />
            </div>
            <div class="col">
                <label class="form-label" for="Temperatura">Temperatura (º): </label>
                <input class="form-control" type="text" name="Temperatura" value="@ViewBag.Historia.Temperatura" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="AgudezaDer">Agudeza Visual ojo der: </label>
                <input class="form-control" type="text" name="AgudezaDer" value="@ViewBag.Historia.AgudezaDer" />
            </div>
            <div class="col">
                <label class="form-label" for="AgudezaIzq">Agudeza Visual ojo izq: </label>
                <input class="form-control" type="text" name="AgudezaIzq" value="@ViewBag.Historia.AgudezaIzq" />
            </div>
            <div class="col">
                <label class="form-label" for="Ecografia">Ecografía: </label>
                <select class="form-control" name="Ecografia">
                    @if (@ViewBag.Historia.Ecografia==0)
                    {
                        <option selected value=0>NO</option>
                        <option value=1>SI</option>
                    }else {
                        <option value=0>NO</option>
                        <option selected value=1>SI</option>
                    }                    
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="ObservacionEco">Observación Ecografía: </label>
                <input class="form-control" type="text" name="ObservacionEco" value="@ViewBag.Historia.ObservacionEco" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="Ecg">ECG:</label>
                <select class="form-control" name="Ecg">
                    @if (@ViewBag.Historia.Ecg == 0)
                    {
                        <option selected value=0>NO</option>
                        <option value=1>SI</option>
                    } else {
                        <option value=0>NO</option>
                        <option selected value=1>SI</option>
                    }                    
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="ObservacionEcg">Observación ECG: </label>
                <input class="form-control" type="text" name="ObservacionEcg" value="@ViewBag.Historia.ObservacionEcg" />
            </div>
            <div class="col">
                <label class="form-label" for="Radiografia">Radiografía:</label>
                <select class="form-control" name="Radiografia">
                    @if (@ViewBag.Historia.Radiografia == 0)
                    {
                        <option selected value=0>NO</option>
                        <option value=1>SI</option>
                    } else {
                        <option value=0>NO</option>
                        <option selected value=1>SI</option>
                    }
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="ObservacionRadiografia">Observación Radiografía: </label>
                <input class="form-control" type="text" name="ObservacionRadiografia" value="@ViewBag.Historia.ObservacionRadiografia" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="Laboratorio">Laboratorio:</label>
                <select class="form-control" name="Laboratorio">
                    @if (@ViewBag.Historia.Laboratorio == 0)
                    {
                        <option selected value=0>NO</option>
                        <option value=1>SI</option>
                    }else {
                        <option value=0>NO</option>
                        <option selected value=1>SI</option>
                    }                    
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="ObservacionLab">Observacion Laboratorio: </label>
                <input class="form-control" type="text" name="ObservacionLab" value="@ViewBag.Historia.ObservacionLab" />
            </div>
            <div class="col">
                <label class="form-label" for="EstudiosComp">Estudios Complementarios: </label>
                <input class="form-control" type="text" name="EstudiosComp" value="@ViewBag.Historia.EstudiosComp" />
            </div>
            <div class="col">
                <label class="form-label" for="Diagnostico">Diagnóstico: *</label>
                <input class="form-control" type="text" name="Diagnostico" value="@ViewBag.Historia.Diagnostico" required />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="Tratamiento">Tratamiento: </label>
                <input class="form-control" type="text" name="Tratamiento" value="@ViewBag.Historia.Tratamiento" />
            </div>
            <div class="col">
                <label class="form-label" for="DerivacionAguda">Derivación Aguda:</label>
                <select class="form-control" name="DerivacionAguda">
                    @if (@ViewBag.Historia.DerivacionAguda == 0)
                    {
                        <option selected value=0>NO</option>
                        <option value=1>SI</option>
                    }else {
                        <option value=0>NO</option>
                        <option selected value=1>SI</option>
                    }
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="DerivacionProg">Derivación Programada: </label>
                <input class="form-control" type="text" name="DerivacionProg" value="@ViewBag.Historia.DerivacionProg" />
            </div>
            <div class="col">
                <label class="form-label" for="ObservacionDeriv">Observacion Derivación: </label>
                <input class="form-control" type="text" name="ObservacionDeriv" value="@ViewBag.Historia.ObservacionDeriv" />
            </div>
        </div>
        <br />
        <input type="number" name="PacienteId" value=@ViewBag.Paciente.Id hidden />
        <input type="number" name="Id" value=@ViewBag.Historia.Id hidden />
        <input class="btn btn-lg btn-success" type="submit" name="agregar" value="Editar Historia" />
        <a class="btn btn-lg btn-danger" href="/Paciente/viewDetails/@ViewBag.Paciente.Id">Cancelar</a>
    </form>
</div>
