@model Entidades.Models.Paciente;

@{
    Layout = "../Shared/_Layout.cshtml";
}

@{
    string today = @DateTime.Today.ToString("yyyy-MM-dd");
}

<div class="container text-center">
    <h1 class="display-4">Editar datos filiatorios del Paciente</h1>
    <br />
    <form action="/Paciente/editPatient" method="POST">
        <div class="row">
            <div class="col">
                <label class="form-label" for="nombre">Nombre: </label>
                <input class="form-control" type="text" name="nombre" value="@ViewBag.Paciente.Nombre" />
            </div>
            <div class="col">
                <label class="form-label" for="apellido">Apellido: </label>
                <input class="form-control" type="text" name="apellido" value="@ViewBag.Paciente.Apellido" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="Dni">Dni: </label>
                <input class="form-control" type="number" name="Dni" value=@ViewBag.Paciente.Dni />
            </div>
            <div class="col">
                <label class="form-label" for="FechaNac">Fecha de Nacimiento: </label>
                <input class="form-control" type="date" name="FechaNac" value="@ViewBag.Paciente.FechaNac.ToString("yyyy-MM-dd")" max="@today" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="Sexo">Sexo: </label>
                <select class="form-control" name="Sexo">
                    <option selected value=@ViewBag.Paciente.Sexo>@ViewBag.Paciente.Sexo</option>
                    @if (@ViewBag.Paciente.Sexo.ToUpper() == "FEMENINO")
                    {
                        <option value="MASCULINO">MASCULINO</option>
                    }else
                    {
                        <option value="FEMENINO">FEMENINO</option>
                    }
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="ParajeAtencion">Paraje de atención: </label>
                <input class="form-control" type="text" name="ParajeAtencion" value="@ViewBag.Paciente.ParajeAtencion" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="FechaNac">Activo:</label>
                <select class="form-control" name="FlgActivo">
                    <option selected value=1>Activo</option>
                    <option value=0>No activo</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="FechaAlta">Fecha Alta: </label>
                <input class="form-control" type="date" name="FechaAlta" value="@ViewBag.Paciente.FechaAlta.ToString("yyyy-MM-dd")" max="@today" />
            </div>
            <input type="number" name="Id" value=@ViewBag.Paciente.Id hidden/>
        </div>
        <br />
        <br />
        <input class="btn btn-lg btn-success" type="submit" name="agregar" value="Actualizar Paciente" />
        <a class="btn btn-lg btn-danger" href="/Paciente/viewDetails/@ViewBag.Paciente.Id">Cancelar</a>
    </form>
</div>
