@model Entidades.Models.Paciente;

@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container text-center">
    @if (Enumerable.Count(ViewBag.Pacientes) > 0)
    {
    <h1>List of Inactive Patients</h1>
    <br/>
    <div class="input-group mb-3">
        <input id="input_data" onkeyup="filter_patientes()" type="text" class="form-control" placeholder="Patients filter. You can use any column from the table to filter out results.">
        <span class="input-group-text"><img src="~/icons/search.svg" /></span>
    </div>    
    <br />
    <table class="table table-hover" id="active_patients">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">DNI</th>
                <th scope="col">Date of birth</th>
                <th scope="col">Gender</th>
                <th scope="col">Place of attention</th>
                <th scope="col">Date of entry</th>
                <th scope="col">View</th>
            </tr>
        </thead>
        <tbody>
        @foreach (Entidades.Models.Paciente paciente in ViewBag.Pacientes)
        {
                    <tr>
                    <td>@paciente.Nombre</td>
                    <td>@paciente.Apellido</td>
                    <td>@paciente.Dni</td>
                    <td>@paciente.FechaNac</td>
                    <td>@paciente.Sexo</td>
                    <td>@paciente.ParajeAtencion</td>
                    <td>@paciente.FechaAlta.ToString().Split(" ")[0]</td>
                    <td><a asp-action="viewDetails" asp-route-id="@paciente.Id"><img src="~/icons/eye.svg" /></a></td>
                    <td></td>
                </tr>
        }
        </tbody>
    </table>
    } else
    {
        <h4>No inactive patients found in the database.</h4>
    }
</div>
