@{
    Layout = "../Shared/_Layout.cshtml";
}

@{
    int edad = @DateTime.Today.Year - @ViewBag.Paciente.FechaNac.Year;
}

@{
    string str(int edad) => edad > 1 ? "años" : "año";
}

@{
    string justSayYesOrNo(int value) => value == 1 ? "SI" : "NO";
}

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-ligth mt-2">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item mb-3">
                        <button type="button" style="min-width: 120px;" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal_consulta" @ViewBag.Disable >
                            Consultas
                        </button>
                    </li>
                    <li class="nav-item mb-3">
                        <button type="button" style="min-width: 120px;" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal_historico" @ViewBag.Disable>
                            Historia
                        </button>
                    </li>
                    <li class="nav-item mb-3">
                        <button type="button"  style="min-width: 120px;" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal_antecedente" @ViewBag.Disable>
                            Antecedentes
                        </button>
                    </li>
                    @if (@ViewBag.Paciente.Sexo.ToUpper() == "FEMENINO")
                    {
                        <li class="nav-item mb-3">
                            <button type="button" style="min-width: 120px;" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal_ginecologia" @ViewBag.Disable>
                                Ginecología
                            </button>                            
                        </li>
                    }
                    @if (@edad <= 15)
                    {
                        <li class="nav-item mb-3">
                            <button type="button" style="min-width: 120px;" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal_pediatria" @ViewBag.Disable>
                                Pediatría
                            </button>                            
                        </li>
                    }
                </ul>
                <hr>
            </div>
        </div>
        <div class="col py-3">
            <div class="container">
                <div class="row">
                    <div class="card mr-3" style="width: 18rem;">
                        <div class="card-body">                            
                            @if(ViewBag.Paciente.FlgActivo == 1){
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title">@ViewBag.Paciente.Nombre @ViewBag.Paciente.Apellido</h5>
                                    </div>
                                    <div class="col">
                                        <div class="tip">
                                            <div class="hover-box">Modificar datos</div>
                                            <a asp-action="editPatient" asp-route-id="@ViewBag.Paciente.Id"><img src="~/icons/pencil.svg" /></a>
                                        </div>
                                        <div class="tip mx-2">
                                            <div class="hover-box">Dar de baja</div>
                                            <a class="mx-1" id="button_trash" asp-action="setDeactivate" asp-route-id="@ViewBag.Paciente.Id"><img src="~/icons/trash.svg" /></a>
                                        </div>
                                    </div>
                                </div>
                                @if (@ViewBag.Paciente.Dni != null)
                                {
                                    <h6 class="card-subtitle mb-2 text-muted">DNI: @ViewBag.Paciente.Dni</h6>
                                }
                                <p class="card-text">Fecha de nacimiento: <strong>@ViewBag.Paciente.FechaNac</strong></p>
                                <p class="card-text"><strong>@edad @str(@edad)</strong> | Sexo: <strong>@ViewBag.Paciente.Sexo</strong></p>
                                <div class="row mb-2">
                                    <div class="tip">
                                        <div class="hover-box">Crear una CONSULTA</div>
                                        <a asp-controller="Consulta" asp-action="createConsultation" asp-route-id="@ViewBag.Paciente.Id"><img src="~/icons/bag-plus.svg" />+ Consulta</a>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="tip">
                                        <div class="hover-box">Crear una HISTORIA</div>
                                        <a asp-controller="Historia" asp-action="createHistory" asp-route-id="@ViewBag.Paciente.Id"><img src="~/icons/clipboard-heart.svg" />+ Historia</a>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="tip">
                                        <div class="hover-box">Crear un ANTECEDENTE</div>
                                        <a asp-controller="Antecedente" asp-action="createAntecedent" asp-route-id="@ViewBag.Paciente.Id"><img src="~/icons/calendar-plus.svg" />+ Antecedente</a>
                                    </div>
                                </div>
                                @if(edad <= 15)
                                {
                                    <div class="row">
                                        <div class="tip">
                                            <div class="hover-box">Crear consulta PEDIÁTRICA</div>
                                            <a asp-controller="Pediatria" asp-action="createPediatry" asp-route-id="@ViewBag.Paciente.Id"><img src="~/icons/balloon-heart.svg" />+ Pediatría</a>
                                        </div>
                                    </div>
                                }
                                @if (@ViewBag.Paciente.Sexo.ToUpper() == "FEMENINO")
                                {
                                    <div class="row">
                                        <div class="tip">
                                            <div class="hover-box">Crear consulta GINECOLOGÍCA</div>
                                            <a asp-controller="Ginecologia" asp-action="CreateGinecology" asp-route-id="@ViewBag.Paciente.Id"><img src="~/icons/gender-female.svg" />+ Ginecología</a>
                                        </div>
                                    </div>
                                }                                
                            }else{
                                <h5 class="card-title">@ViewBag.Paciente.Nombre @ViewBag.Paciente.Apellido</h5>
                                @if (@ViewBag.Paciente.Dni != null)
                                {
                                    <h6 class="card-subtitle mb-2 text-muted">DNI: @ViewBag.Paciente.Dni</h6>
                                }
                                <p class="card-text">Fecha de nacimiento: <strong>@ViewBag.Paciente.FechaNac</strong></p>
                                <p class="card-text"><strong>@edad @str(@edad)</strong> | Sexo: <strong>@ViewBag.Paciente.Sexo</strong></p>
                                <div class="tip">
                                    <div class="hover-box">Re Activar</div>
                                    <a class="mx-1" id="button_trash" asp-action="setActivate" asp-route-id="@ViewBag.Paciente.Id"><img src="~/icons/bootstrap-reboot.svg" /></a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="card" style="width: 36rem; margin-left: 5px;">
                        <div class="card-body">
                            @if (Enumerable.Count(ViewBag.Complementario) > 0)
                            {
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title">Datos complementarios</h5>
                                    </div>
                                    <div class="col">                                    
                                        @if (ViewBag.Paciente.FlgActivo == 1)
                                        {
                                            <div class="tip mx-8">
                                                <div class="hover-box">Modificar datos complementarios</div>
                                                <a class="mx-4" asp-controller="Complementario" asp-action="editComplementary" asp-route-id="@ViewBag.Paciente.Id"><img src="~/icons/pencil.svg" /></a>
                                            </div>
                                        }
                                    </div>
                                </div>
                                @foreach (Entidades.Models.Complementario complementario in ViewBag.Complementario)
                                {
                                    <p class="card-text">Lugar de nacimiento: <strong>@complementario.LugarNac</strong> | Paraje de Residencia: <strong>@complementario.ParajeResidencia</strong></p>
                                    <p class="card-text">Etnia: <strong>@complementario.Etnia</strong> | Estado Civil: <strong>@complementario.EstadoCivil</strong></p>
                                    @if (@complementario.SabeLeer == 1)
                                    {
                                        <p class="card-text">Sabe leer?: <strong>Si</strong></p>
                                    }
                                    else
                                    {
                                        <p class="card-text">Sabe leer?: <strong>No</strong></p>
                                    }
                                    <p class="card-text">Escolaridad: <strong>@complementario.Escolaridad</strong></p>
                                    <p class="card-text">Ocupacion: <strong>@complementario.Ocupacion</strong> | Año Ingreso: <strong>@complementario.AnoIngreso</strong></p>
                                    <h5 class="card-title">Notas</h5>
                                    <p class="card-text">@complementario.Notas</p>
                                    <br />         
                                }
                            }
                            else
                            {
                                @if(ViewBag.Paciente.FlgActivo == 1){
                                    <div class="tip text-center">
                                        <div class="hover-box">Agregar datos complementarios</div>
                                        <a class="mx-4" asp-controller="Complementario" asp-action="create" asp-route-id="@ViewBag.Paciente.Id"><img src="~/icons/clipboard-plus.svg" /></a>
                                    </div>
                                }
                            }
                        </div>
                    </div>                    
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12 card">
                        <div class="card-body">
                            <h5>Últimas consultas</h5>
                            @if (Enumerable.Count(ViewBag.Consulta) > 0)
                            {
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Fecha Atención</th>
                                            <th>Motivo</th>
                                            <th>Diagnóstico</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Entidades.Models.Consulta consulta in ViewBag.Consulta)
                                        {
                                            <tr>
                                                <td>@consulta.FechaAtencion.ToString().Split(" ")[0]</td>
                                                <td>@consulta.MotivoConsulta</td>
                                                <td>@consulta.DiagnosticoConsulta</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            }else{
                                <h5>No se registran consultas para este paciente</h5>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--MODAL-->
<div class="modal" id="modal_consulta" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Histórico Consultas del paciente @ViewBag.Paciente.Nombre @ViewBag.Paciente.Apellido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body overflow-scroll">
                @if (Enumerable.Count(ViewBag.Consulta) > 0)
                {
                    <table class="table table-hover text-center">
                        <thead>
                            <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Edad</th>
                                <th scope="col">Motivo de la Consulta</th>
                                <th scope="col">Diagnostico de laConsulta</th>
                                <th scope="col">Observación</th>
                                <th scope="col">Eval Nutricional</th>
                                <th scope="col">Eval Social</th>
                                @if (@ViewBag.Paciente.Sexo == "Femenino")
                                {
                                    <th scope="col">Fum</th>
                                    <th scope="col">MacActual</th>
                                    <th scope="col">FechaMac</th>
                                }
                                <th scope="col">Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Entidades.Models.Consulta consulta in ViewBag.Consulta)
                            {
                                <tr>
                                    <td>@consulta.FechaAtencion.ToString().Split(" ")[0]</td>
                                    <td>@consulta.EdadConsulta</td>
                                    <td>@consulta.MotivoConsulta</td>
                                    <td>@consulta.DiagnosticoConsulta</td>
                                    <td>@consulta.Observacion</td>
                                    <td>@consulta.EvalNutric</td>
                                    <td>@consulta.EvalSoc</td>
                                    @if (@ViewBag.Paciente.Sexo == "Femenino")
                                    {
                                        <td>@consulta.Fum</td>
                                        <td>@consulta.MacActual</td>
                                        <td>@consulta.FechaMac</td>
                                    }
                                    <td><a asp-controller="Consulta" asp-action="editConsultation" asp-route-id="@consulta.Id"><img src="~/icons/pencil.svg" /></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h5>No se registran consultas para este paciente</h5>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!---->

<!--MODAL-->
<div class="modal" id="modal_antecedente" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Histórico Antecedentes del paciente @ViewBag.Paciente.Nombre @ViewBag.Paciente.Apellido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body overflow-scroll">
                @if (Enumerable.Count(ViewBag.Antecedente) > 0)
                {
                    <table class="table table-hover text-center">
                        <thead>
                            <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Alcohol</th>
                                <th scope="col">Alergias</th>                                
                                <th scope="col">AntPerinatales</th>
                                <th scope="col">Cancer</th>
                                <th scope="col">Chagas</th>
                                <th scope="col">Dbt</th>
                                <th scope="col">Dislipemia</th>
                                <th scope="col">Drogas</th>
                                <th scope="col">Familiares</th>
                                <th scope="col">Hidatidosis</th>
                                <th scope="col">Hospitalizaciones</th>
                                <th scope="col">Hta</th>
                                <th scope="col">Medicación</th>
                                <th scope="col">Obesidad</th>
                                <th scope="col">Personales</th>
                                <th scope="col">Quirurgicos</th>
                                <th scope="col">RiesgoNut</th>
                                <th scope="col">RiesgoSoc</th>
                                <th scope="col">Sedentarismo</th>
                                <th scope="col">Tabaco</th>
                                <th scope="col">Tbc</th>
                                <th scope="col">Vacunación</th>
                                <th scope="col">Notas</th>
                                <th scope="col">Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Entidades.Models.Antecedente antecedente in ViewBag.Antecedente)
                            {
                                <tr>
                                    <td>@antecedente.FechaCreacion.ToString().Split(" ")[0]</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Alcohol)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Alergias)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.AntPerinatales)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Cancer)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Chagas)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Dbt)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Dislipemia)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Drogas)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Familiares)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Hidatidosis)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Hospitalizaciones)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Hta)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Medicacion)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Obesidad)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Personales)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Quirurgicos)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.RiesgoNut)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.RiesgoSoc)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Sedentarismo)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Tabaco)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Tbc)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Vacunacion)</td>
                                    <td>@antecedente.Notas</td>
                                    <td><a asp-controller="Antecedente" asp-action="editAntecedent" asp-route-id="@antecedente.Id"><img src="~/icons/pencil.svg" /></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h5>No se registran antecedentes para este paciente</h5>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!---->

<!--MODAL-->
<div class="modal" id="modal_historico" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Histórial del paciente @ViewBag.Paciente.Nombre @ViewBag.Paciente.Apellido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body overflow-scroll">
                @if (Enumerable.Count(ViewBag.Historia) > 0)
                {
                    <table class="table table-hover text-center">
                        <thead>
                            <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Exámen Físico</th>
                                <th scope="col">Ta</th>                                
                                <th scope="col">Peso</th>
                                <th scope="col">Talla</th>
                                <th scope="col">Imc</th>
                                <th scope="col">Circ Cintura</th>
                                <th scope="col">Circ Cadera</th>
                                <th scope="col">Icc</th>
                                <th scope="col">Saturacion</th>
                                <th scope="col">Temperatura</th>
                                <th scope="col">Glicemia</th>
                                <th scope="col">Agudeza Visual ojo der</th>
                                <th scope="col">Agudeza Visual ojo izq</th>
                                <th scope="col">Ecografía</th>
                                <th scope="col">Observación Eco</th>
                                <th scope="col">Ecg</th>
                                <th scope="col">Observación Ecg</th>
                                <th scope="col">Radiografía</th>
                                <th scope="col">Obs Radiografia</th>
                                <th scope="col">Lab</th>
                                <th scope="col">Observación Lab</th>
                                <th scope="col">Estudios Comp</th>
                                <th scope="col">Diagnóstico</th>
                                <th scope="col">Tratamiento</th>
                                <th scope="col">Derivación Aguda</th>
                                <th scope="col">Derivación Prog</th>
                                <th scope="col">Observación Derivación</th>
                                <th scope="col">Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Entidades.Models.Historia historia in ViewBag.Historia)
                            {
                                <tr>
                                    <td>@historia.FechaCreacion.ToString().Split(" ")[0]</td>
                                    <td>@historia.ExamenFisico</td>
                                    <td>@historia.Ta</td>
                                    <td>@historia.Peso</td>
                                    <td>@historia.Talla</td>
                                    <td>@historia.Imc</td>
                                    <td>@historia.CircCintura</td>
                                    <td>@historia.CircCadera</td>
                                    <td>@historia.Icc</td>
                                    <td>@historia.Saturacion</td>
                                    <td>@historia.Temperatura</td>
                                    <td>@historia.Glicemia</td>
                                    <td>@historia.AgudezaDer</td>
                                    <td>@historia.AgudezaIzq</td>
                                    <td>@justSayYesOrNo((int)@historia.Ecografia)</td>
                                    <td>@historia.ObservacionEco</td>
                                    <td>@justSayYesOrNo((int)@historia.Ecg)</td>
                                    <td>@historia.ObservacionEcg</td>
                                    <td>@justSayYesOrNo((int)@historia.Radiografia)</td>
                                    <td>@historia.ObservacionRadiografia</td>
                                    <td>@justSayYesOrNo((int)@historia.Laboratorio)</td>
                                    <td>@historia.ObservacionLab</td>
                                    <td>@historia.EstudiosComp</td>
                                    <td>@historia.Diagnostico</td>
                                    <td>@historia.Tratamiento</td>
                                    <td>@justSayYesOrNo((int)@historia.DerivacionAguda)</td>
                                    <td>@historia.DerivacionProg</td>
                                    <td>@historia.ObservacionDeriv</td>
                                    <td><a asp-controller="Historia" asp-action="editHistory" asp-route-id="@historia.Id"><img src="~/icons/pencil.svg" /></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h5>No se registran historias para este paciente</h5>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!---->

<!--MODAL-->
<div class="modal" id="modal_pediatria" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Historial pediátrico del paciente @ViewBag.Paciente.Nombre @ViewBag.Paciente.Apellido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body overflow-scroll">
                @if (Enumerable.Count(ViewBag.Pediatria) > 0)
                {
                    <table class="table table-hover text-center">
                        <thead>
                            <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Peso</th>
                                <th scope="col">Percentil Peso</th>
                                <th scope="col">PzPeso</th>
                                <th scope="col">Talla</th>
                                <th scope="col">PercentilTalla</th>
                                <th scope="col">PzTalla</th>
                                <th scope="col">Imc</th>
                                <th scope="col">PercentilImc</th>
                                <th scope="col">PzImc</th>
                                <th scope="col">Pc</th>
                                <th scope="col">Percentil Pc</th>
                                <th scope="col">PzPc</th>
                                <th scope="col">Agudeza Visual ojo der</th>
                                <th scope="col">Agudeza Visual ojo izq</th>
                                <th scope="col">Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Entidades.Models.Pediatria pediatria in ViewBag.Pediatria)
                            {
                                <tr>
                                    <td>@pediatria.FechaCreacion.ToString().Split(" ")[0]</td>
                                    <td>@pediatria.Peso</td>
                                    <td>@pediatria.PercentilPeso</td>
                                    <td>@pediatria.PzPeso</td>
                                    <td>@pediatria.Talla</td>
                                    <td>@pediatria.PercentilTalla</td>
                                    <td>@pediatria.PzTalla</td>                                      
                                    <td>@pediatria.Imc</td>
                                    <td>@pediatria.PercentilImc</td>
                                    <td>@pediatria.PzImc</td>
                                    <td>@pediatria.Pc</td>
                                    <td>@pediatria.PercentilPc</td>
                                    <td>@pediatria.PzPc</td>
                                    <td>@pediatria.AgudezaDer</td>
                                    <td>@pediatria.AgudezaIzq</td>
                                    <td><a asp-controller="Pediatria" asp-action="editPediatry" asp-route-id="@pediatria.Id"><img src="~/icons/pencil.svg" /></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h5>No se registran historias para este paciente</h5>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!---->


<!--MODAL-->
<div class="modal" id="modal_ginecologia" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Historial ginecólogico del paciente @ViewBag.Paciente.Nombre @ViewBag.Paciente.Apellido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body overflow-scroll">
                @if (Enumerable.Count(ViewBag.Ginecologia) > 0)
                {
                    <table class="table table-hover text-center">
                        <thead>
                            <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Gestas</th>
                                <th scope="col">Para</th>
                                <th scope="col">Cesareas</th>
                                <th scope="col">Abortos</th>
                                <th scope="col">Irs</th>
                                <th scope="col">Menarca</th>
                                <th scope="col">RitmoMenst</th>
                                <th scope="col">Menopausia</th>
                                <th scope="col">TomaPap</th>
                                <th scope="col">ResultadoPap</th>
                                <th scope="col">Colposcopia</th>
                                <th scope="col">Estudios Comp</th>
                                <th scope="col">Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Entidades.Models.Ginecologia ginecologia in ViewBag.Ginecologia)
                            {
                                <tr>
                                    <td>@ginecologia.FechaCreacion.ToString().Split(" ")[0]</td>
                                    <td>@ginecologia.Gestas</td>
                                    <td>@ginecologia.Para</td>
                                    <td>@ginecologia.Cesareas</td>
                                    <td>@ginecologia.Abortos</td>
                                    <td>@ginecologia.Irs</td>
                                    <td>@ginecologia.Menarca</td>
                                    <td>@ginecologia.RitmoMenst</td>
                                    <td>@ginecologia.Menopausia</td>
                                    <td>@ginecologia.TomaPap</td>
                                    <td>@ginecologia.ResultadoPap</td>
                                    <td>@ginecologia.Colposcopia</td>
                                    <td>@ginecologia.EstudiosComp</td>
                                    <td><a asp-controller="Ginecologia" asp-action="editGinecology" asp-route-id="@ginecologia.Id"><img src="~/icons/pencil.svg" /></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h5>No se registran consultas ginecólogicas para este paciente</h5>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!---->