@{

    Layout = "../Shared/_Layout.cshtml";
    int edad = @DateTime.Today.Year - @ViewBag.Paciente.FechaNac.Year;
    string str(int edad) => edad > 1 ? "years" : "year";
    string justSayYesOrNo(int? value)
    {
        if (value is null)
        {
            return "NO";
        }
        else
        {
            return value == 1 ? "YES" : "NO";
        }
    }
    var etnia = @ViewBag.Etnia != null ? @ViewBag.Etnia.Nombre : "-";
    var estado_civil = @ViewBag.EstadoCivil != null ? @ViewBag.EstadoCivil.Descripcion : "-";
    var escolaridad = @ViewBag.Escolaridad != null ? @ViewBag.Escolaridad.Descripcion : "-";    
}
@if (TempData["msg"] != null)
{
    <h3 class="text-success">@TempData["msg"]</h3>
}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-ligth mt-2">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item mb-3">
                        <button type="button" style="min-width: 120px;" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal_consulta" @ViewBag.Disable >
                            Consultations
                        </button>
                    </li>                    
                    <li class="nav-item mb-3">
                        <button type="button"  style="min-width: 120px;" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal_antecedente" @ViewBag.Disable>
                            History
                        </button>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
        <div class="col py-3">
            <div class="container">
                <div class="row">
                    <div class="card mr-3 col-md-4">
                        <div class="card-body">                            
                            @if(ViewBag.Paciente.FlgActivo == 1){
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title">@ViewBag.Paciente.Nombre @ViewBag.Paciente.Apellido</h5>
                                    </div>                                    
                                    <div class="col">
                                        <div class="tip">
                                            <div class="hover-box">Update patient information</div>
                                            <a asp-action="editPatient" asp-route-id="@ViewBag.Paciente.Id"><img src="~/icons/pencil.svg" /></a>
                                        </div>
                                        <div class="tip mx-2">
                                            <div class="hover-box">Deactivate</div>
                                            <a class="mx-1" id="button_trash" asp-action="setDeactivate" asp-route-id="@ViewBag.Paciente.Id"><img src="~/icons/trash.svg" /></a>
                                        </div>
                                    </div>
                                </div>
                                @if (@ViewBag.Paciente.Dni != null)
                                {
                                    <h6 class="card-subtitle mb-2 text-muted">DNI: @ViewBag.Paciente.Dni</h6>
                                }
                                <p class="card-text">Date of birth: <strong>@ViewBag.Paciente.FechaNac</strong></p>
                                <p class="card-text"><strong>@edad @str(@edad)</strong> | Gender: <strong>@ViewBag.Paciente.Sexo</strong></p>
                                <p class="card-text">Ethnicity: <strong>@etnia</strong></p>
                                <div class="row mb-2">
                                    <div class="tip">
                                        <div class="hover-box">Create a Consultation</div>
                                        <a asp-controller="Consulta" asp-action="createConsultation" asp-route-id="@ViewBag.Paciente.Id"><img src="~/icons/bag-plus.svg" />+ Consultation</a>
                                    </div>
                                </div>                                
                                <div class="row mb-2">
                                    <div class="tip">
                                        <div class="hover-box">Create a History record</div>
                                        <a asp-controller="Antecedente" asp-action="createAntecedent" asp-route-id="@ViewBag.Paciente.Id"><img src="~/icons/calendar-plus.svg" />+ History</a>
                                    </div>
                                </div>                                                                
                            }else{
                                <h5 class="card-title">@ViewBag.Paciente.Nombre @ViewBag.Paciente.Apellido</h5>                                
                                @if (@ViewBag.Paciente.Dni != null)
                                {
                                    <h6 class="card-subtitle mb-2 text-muted">DNI: @ViewBag.Paciente.Dni</h6>
                                }
                                <p class="card-text">Date of birth: <strong>@ViewBag.Paciente.FechaNac</strong></p>
                                <p class="card-text"><strong>@edad @str(@edad)</strong> | Gender: <strong>@ViewBag.Paciente.Sexo</strong></p>
                                <p class="card-text">Ethnicity: <strong>@etnia</strong></p>
                                <div class="tip">
                                    <div class="hover-box">Reactivate</div>
                                    <a class="mx-1" id="button_trash" asp-action="setActivate" asp-route-id="@ViewBag.Paciente.Id"><img src="~/icons/bootstrap-reboot.svg" /></a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="card col-md-8">
                        <div class="card-body">
                            @if (ViewBag.Complementario != null)
                            {
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title">Complementary information</h5>
                                    </div>
                                    <div class="col">                                    
                                        @if (ViewBag.Paciente.FlgActivo == 1)
                                        {
                                            <div class="tip mx-8">
                                                <div class="hover-box">Update complementary information</div>
                                                <a class="mx-4" asp-controller="Complementario" asp-action="editComplementary" asp-route-id="@ViewBag.Paciente.Id"><img src="~/icons/pencil.svg" /></a>
                                            </div>
                                        }
                                    </div>
                                </div>                                
                                <p class="card-text">Place of birth: <strong>@ViewBag.Paciente.LugarNac</strong> | Place of residence: <strong>@ViewBag.Complementario.ParajeResidencia</strong></p>
                                <p class="card-text">Marital status: <strong>@estado_civil</strong></p>                                
                                <p class="card-text">Can read?: <strong>@justSayYesOrNo(@ViewBag.Complementario.SabeLeer)</strong></p>                                
                                <p class="card-text">Schooling: <strong>@escolaridad</strong> | Complete?: <strong>@justSayYesOrNo(@ViewBag.Complementario.EscolaridadCompleta)</strong></p>
                            <p class="card-text">Occupation: <strong>@ViewBag.Complementario.Ocupacion</strong> | Year of entry: <strong>@ViewBag.Complementario.Paciente.AnoIngreso</strong></p>
                                <h5 class="card-title">Notes</h5>
                            <p class="card-text">@ViewBag.Complementario.Notas</p>
                                <br />                                         
                            }
                            else
                            {
                                @if(ViewBag.Paciente.FlgActivo == 1) {
                                    <div class="tip text-center">
                                        <div class="hover-box">Add complementary information</div>
                                        <a class="mx-4" asp-controller="Complementario" asp-action="create" asp-route-id="@ViewBag.Paciente.Id"><img src="~/icons/clipboard-plus.svg"/>&nbsp; Add complementary information</a>
                                    </div>
                                }
                            }
                        </div>
                    </div>                    
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12 card">
                        <div class="card-body">
                            <h5>Last consultations</h5>
                            @if (Enumerable.Count(ViewBag.Consulta) > 0)
                            {
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Reason for consultation</th>
                                            <th>Diagnosis</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Entidades.Models.Consulta consulta in ViewBag.Consulta)
                                        {
                                            <tr>
                                                <td>@consulta.FechaAtencion</td>
                                                <td>@consulta.MotivoConsulta</td>
                                                <td>@consulta.DiagnosticoConsulta</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            }else{
                                <h5>No consultations found for this patient</h5>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--MODAL-->
<div class="modal" id="modal_consulta" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Consultation history for patient @ViewBag.Paciente.Nombre @ViewBag.Paciente.Apellido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body overflow-scroll">
                @if (Enumerable.Count(ViewBag.Consulta) > 0)
                {
                    <table class="table table-hover text-center">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Age</th>
                                <th scope="col">Reason for consultation</th>
                                <th scope="col">Diagnosis</th>
                                <th scope="col">Comments</th>
                                <th scope="col">Nutritional evaluation</th>
                                <th scope="col">Social evaluation</th>
                                <th scope="col">Physical examination</th>
                                <th scope="col">BP</th>
                                <th scope="col">Weight</th>
                                <th scope="col">Height</th>
                                <th scope="col">BMI</th>
                                <th scope="col">Waist circumference</th>
                                <th scope="col">Hip circumference</th>
                                <th scope="col">CCI</th>
                                <th scope="col">Saturation</th>
                                <th scope="col">Heart rate</th>
                                <th scope="col">Respiratory rate</th>
                                <th scope="col">Temperature</th>
                                <th scope="col">Glycemia</th>
                                <th scope="col">Visual acuity right eye</th>
                                <th scope="col">Visual acuity left eye</th>
                                <th scope="col">Ultrasound</th>
                                <th scope="col">Ultrasound comments</th>
                                <th scope="col">EKG</th>
                                <th scope="col">EKG comments</th>
                                <th scope="col">X-ray</th>
                                <th scope="col">X-ray comments</th>
                                <th scope="col">Lab</th>
                                <th scope="col">Lab comments</th>
                                <th scope="col">Complementary examinations</th>
                                <th scope="col">Treatment</th>
                                <th scope="col">Urgent referral</th>
                                <th scope="col">Scheduled referral</th>
                                <th scope="col">Referral comments</th>
                                <th scope="col">Weight percentile</th>
                                <th scope="col">Weight Pz</th>                                
                                <th scope="col">Height percentile</th>
                                <th scope="col">Height Pz</th>
                                <th scope="col">BMI percentile</th>
                                <th scope="col">BMI Pz</th>
                                <th scope="col">HC</th>
                                <th scope="col">HC percentile</th>
                                <th scope="col">HC Pz</th>
                                @if (@ViewBag.Paciente.Sexo == "Femenino")
                                {
                                    <th scope="col">LMP</th>
                                    <th scope="col">Current contraceptive method</th>
                                    <th scope="col">Contraceptive method date</th>
                                    <th scope="col">Gestates</th>
                                    <th scope="col">Para</th>
                                    <th scope="col">C-sections</th>
                                    <th scope="col">Miscarriages</th>
                                    <th scope="col">First sexual intercourse</th>
                                    <th scope="col">Menarche</th>
                                    <th scope="col">Menstrual cycle</th>
                                    <th scope="col">Menopause</th>
                                    <th scope="col">Pap test</th>
                                    <th scope="col">Pap results</th>
                                    <th scope="col">Colposcopy</th>                                    
                                }
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Entidades.Models.Consulta consulta in ViewBag.Consulta)
                            {
                                <tr>
                                    <td>@consulta.FechaAtencion</td>
                                    <td>@consulta.EdadConsulta</td>
                                    <td>@consulta.MotivoConsulta</td>
                                    <td>@consulta.DiagnosticoConsulta</td>
                                    <td>@consulta.Observacion</td>
                                    <td>@consulta.EvalNutric</td>
                                    <td>@consulta.EvalSoc</td>
                                    <td>@consulta.ExamenFisico</td>
                                    <td>@consulta.Ta</td>
                                    <td>@consulta.Peso</td>
                                    <td>@consulta.Talla</td>
                                    <td>@consulta.Imc</td>
                                    <td>@consulta.CircCintura</td>
                                    <td>@consulta.CircCadera</td>
                                    <td>@consulta.Icc</td>
                                    <td>@consulta.Saturacion</td>
                                    <td>@consulta.FrecuenciaCardiaca</td>
                                    <td>@consulta.FrecuenciaRespiratoria</td>
                                    <td>@consulta.Temperatura</td>
                                    <td>@consulta.Glicemia</td>
                                    <td>@consulta.AgudezaDer</td>
                                    <td>@consulta.AgudezaIzq</td>
                                    <td>@justSayYesOrNo(@consulta.Ecografia)</td>
                                    <td>@consulta.ObservacionEco</td>
                                    <td>@justSayYesOrNo(@consulta.Ecg)</td>
                                    <td>@consulta.ObservacionEcg</td>
                                    <td>@justSayYesOrNo(@consulta.Radiografia)</td>
                                    <td>@consulta.ObservacionRadiografia</td>
                                    <td>@justSayYesOrNo(@consulta.Laboratorio)</td>
                                    <td>@consulta.ObservacionLab</td>
                                    <td>@consulta.EstudiosComp</td>
                                    <td>@consulta.Tratamiento</td>
                                    <td>@justSayYesOrNo(@consulta.DerivacionAguda)</td>
                                    <td>@consulta.DerivacionProg</td>
                                    <td>@consulta.ObservacionDeriv</td>
                                    <td>@consulta.PercentilPeso</td>
                                    <td>@consulta.PzPeso</td>
                                    <td>@consulta.PercentilTalla</td>
                                    <td>@consulta.PzTalla</td>
                                    <td>@consulta.PercentilImc</td>
                                    <td>@consulta.PzImc</td>
                                    <td>@consulta.Pc</td>
                                    <td>@consulta.PercentilPc</td>
                                    <td>@consulta.PzPc</td>
                                    @if (@ViewBag.Paciente.Sexo == "Femenino")
                                    {
                                        <td>@consulta.Fum</td>
                                        <td>@consulta.MacActual</td>
                                        <td>@consulta.FechaMac</td>
                                        <td>@consulta.Gestas</td>
                                        <td>@consulta.Para</td>
                                        <td>@consulta.Cesareas</td>
                                        <td>@consulta.Abortos</td>
                                        <td>@consulta.Irs</td>
                                        <td>@consulta.Menarca</td>
                                        <td>@consulta.RitmoMenst</td>
                                        <td>@consulta.Menopausia</td>
                                        <td>@consulta.TomaPap</td>
                                        <td>@consulta.ResultadoPap</td>
                                        <td>@consulta.Colposcopia</td>
                                    }
                                    <td><a asp-controller="Consulta" asp-action="editConsultation" asp-route-id="@consulta.Id"><img src="~/icons/pencil.svg" /></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h5>No consultations found for this patient</h5>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!---->

<!--MODAL-->
<div class="modal" id="modal_antecedente" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">History records for patient @ViewBag.Paciente.Nombre @ViewBag.Paciente.Apellido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body overflow-scroll">
                @if (Enumerable.Count(ViewBag.Antecedente) > 0)
                {
                    <table class="table table-hover text-center">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Alcohol</th>
                                <th scope="col">Allergies</th>                                
                                <th scope="col">Perinatal history</th>
                                <th scope="col">Cancer</th>
                                <th scope="col">Chagas disease</th>
                                <th scope="col">Diabetes</th>
                                <th scope="col">Dyslipidemia</th>
                                <th scope="col">Drugs consumption</th>
                                <th scope="col">Family history</th>
                                <th scope="col">Hydatidosis</th>
                                <th scope="col">Hospitalizations</th>
                                <th scope="col">HBP</th>
                                <th scope="col">Medication</th>
                                <th scope="col">Obesity</th>
                                <th scope="col">Surgical</th>
                                <th scope="col">Nutritional risk</th>
                                <th scope="col">Social risk</th>
                                <th scope="col">Sedentary lifestyle</th>
                                <th scope="col">Tobacco</th>
                                <th scope="col">TB</th>
                                <th scope="col">Vaccination</th>
                                <th scope="col">Notes</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Entidades.Models.Antecedente antecedente in ViewBag.Antecedente)
                            {
                                <tr>
                                    <td>@antecedente.FechaCreacion.ToString().Split(" ")[0]</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Alcohol)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Alergias)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.AntPerinatales)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Cancer)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Chagas)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Dbt)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Dislipemia)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Drogas)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Familiares)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Hidatidosis)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Hospitalizaciones)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Hta)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Medicacion)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Obesidad)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Quirurgicos)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.RiesgoNut)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.RiesgoSoc)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Sedentarismo)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Tabaco)</td>
                                    <td>@justSayYesOrNo((int)@antecedente.Tbc)</td>
                                    @if (@antecedente.VacunacionId == 1)
                                    {                                        
                                        <td>Complete</td>
                                    }
                                    @if (@antecedente.VacunacionId == 2)
                                    {
                                        <td>Incomplete</td>
                                    }
                                    @if (@antecedente.VacunacionId == 3)
                                    {
                                        <td>Unknown</td>
                                    }
                                    <td>@antecedente.Notas</td>
                                    <td><a asp-controller="Antecedente" asp-action="editAntecedent" asp-route-id="@antecedente.Id"><img src="~/icons/pencil.svg" /></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h5>No history found for this patient</h5>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!---->