@model Entidades.Models.Antecedente;

@{
    Layout = "../Shared/_Layout.cshtml";
}

@{
    string justSayYesOrNo(int value) => value == 1 ? "YES" : "NO";
}


<div class="container text-center">
    <h1>Antecedente creado el día: @ViewBag.Antecedente.FechaCreacion</h1>
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sedentary lifestyle: @justSayYesOrNo(@ViewBag.Antecedente.Sedentarismo)</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Alcohol: @justSayYesOrNo(@ViewBag.Antecedente.Alcohol)</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Drugs consumption: @justSayYesOrNo(@ViewBag.Antecedente.Drogas)</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tobacco: @justSayYesOrNo(@ViewBag.Antecedente.Tabaco)</h5>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Allergies: @justSayYesOrNo(@ViewBag.Antecedente.Alergias)</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Diabetes: @justSayYesOrNo(@ViewBag.Antecedente.Dbt)</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">HBP: @justSayYesOrNo(@ViewBag.Antecedente.Hta)</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dyslipidemia: @justSayYesOrNo(@ViewBag.Antecedente.Dislipemia)</h5>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Obesity: @justSayYesOrNo(@ViewBag.Antecedente.Obesidad)</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Chagas disease: @justSayYesOrNo(@ViewBag.Antecedente.Chagas)</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Hydatidosis: @justSayYesOrNo(@ViewBag.Antecedente.Hidatidosis)</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">TB: @justSayYesOrNo(@ViewBag.Antecedente.Tbc)</h5>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cancer: @justSayYesOrNo(@ViewBag.Antecedente.Cancer)</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Surgical: @justSayYesOrNo(@ViewBag.Antecedente.Quirurgicos)</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Hospitalizations: @justSayYesOrNo(@ViewBag.Antecedente.Hospitalizaciones)</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nutritional risk: @justSayYesOrNo(@ViewBag.Antecedente.RiesgoNut)</h5>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Social risk: @justSayYesOrNo(@ViewBag.Antecedente.RiesgoSoc)</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Personal history: @justSayYesOrNo(@ViewBag.Antecedente.Personales)</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Family history: @justSayYesOrNo(@ViewBag.Antecedente.Familiares)</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Perinatal history: @justSayYesOrNo(@ViewBag.Antecedente.AntPerinatales)</h5>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vaccination: @justSayYesOrNo(@ViewBag.Antecedente.Vacunacion)</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Medication: @justSayYesOrNo(@ViewBag.Antecedente.Medicacion)</h5>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Notes</h5>
                    <p class="card-text">@ViewBag.Antecedente.Notas</p>
                </div>
            </div>
        </div>
    </div>
</div>
